<div class="card overflow-hidden border-0">
  <div class="px-3 pb-0 card-body">
    <img src="../../../assets/images/motherboard.jpg" alt="" height="120px" width="auto" class="mx-auto mb-2 d-block">
    <p class="m-0 b-600">asdfasdf</p>
    <p class="m-0">asdfasdf</p>
  </div>
  <div class="px-3 pt-0 card-body d-flex flex-wrap align-items-center">
    <div class="mr-3 my-2 d-flex align-items-center b-500">
      <span class="material-icons text-danger">star</span>
      <span class="material-icons text-danger">star</span>
      <span class="material-icons text-danger">star</span>
      <span class="material-icons text-danger">star_half</span>
      <span class="material-icons text-danger">star_border</span>
      <span class="pl-1 pt-1">32</span>
    </div>
    <p class="m-0 ml-auto text-nowrap b-600 h5">$23.00</p>
  </div>
</div>