.bg-gradient-dark {
  background: linear-gradient(-90deg, lighten($custom-dark, 25%), lighten($custom-dark, 10%));
}

.bg-gradient-light {
  background: linear-gradient(180deg, white, $custom-light);
}

.bg-light {
  background-color: lighten($custom-light, 10%);
}

.bg-black {
  background-color: black;
}
.border-black {
  border-color: black;
}