<section class="pmw bg-black text-white">
  <div class="py-5 container">
    <div class="row">
      <div class="col-6 col-lg-3">
        <b class="mb-3">Products</b>
        <ul class="list-unstyled">
          <li><a href="" class="mb-3 text-light no-decoration">Hardware</a></li>
          <li><a href="" class="mb-3 text-light no-decoration">Software</a></li>
          <li><a href="" class="mb-3 text-light no-decoration">Gaming</a></li>
          <li><a href="" class="mb-3 text-light no-decoration">Office</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-3">
        <b class="mb-3">Help & Support</b>
        <ul class="list-unstyled">
          <li><a href="" class="mb-3 text-light no-decoration">FAQs</a></li>
          <li><a href="" class="mb-3 text-light no-decoration">Warranty</a></li>
          <li><a href="" class="mb-3 text-light no-decoration">Returns</a></li>
          <li><a href="" class="mb-3 text-light no-decoration">Shipping</a></li>
          <li><a href="" class="mb-3 text-light no-decoration">Contact us</a></li>
        </ul>
      </div>
      <div class="mb-5 mb-md-0 col-6 col-lg-3">
        <b class="mb-3">About</b>
        <ul class="mb-4 list-unstyled">
          <li><a href="" class="mb-3 text-light no-decoration">Store Locations</a></li>
          <li><a href="" class="mb-3 text-light no-decoration">Careers</a></li>
        </ul>
        <b class="mb-3">Follow us</b>
        <ul class="list-unstyled d-flex align-items-center">
          <li><a href="" class="mr-2 text-light no-decoration"><i class="fab fa-youtube"></i></a></li>
          <li><a href="" class="mr-2 text-light no-decoration"><i class="fab fa-instagram"></i></a></li>
          <li><a href="" class="mr-2 text-light no-decoration"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <p>Sign up for news on promotions, deals and new products.</p>
        <input type="text" class="mb-3 form-control bg-dark border-dark text-white" placeholder="Email Address"/>
        <button class="btn btn-block btn-light b-500">SUBSCRIBE</button>
      </div>
    </div>
    <hr class="my-5 border-light">
    <div class="d-flex flex-column-reverse align-items-center flex-lg-row">
      <p class="m-0 mr-lg-auto text-center">&copy; Copyright 2020. All rights reserved. <br class="d-md-none"/>ABN: 1234 1234 1234</p>
      <div class="mb-3 mb-lg-0 d-flex">
        <a href="" class="mx-4 text-light no-decoration">Terms</a>
        <a href="" class="mx-4 text-light no-decoration">Privacy</a>
        <a href="" class="ml-4 mr-0 text-light no-decoration">Security</a>
      </div>
    </div>
  </div>
</section>