<div class="product-option card overflow-hidden" [class.selected]="this.isSelected">
  <div class="py-2 px-3 card-header border-0 position-relative">
    <small>SKU: 123D9FX</small>
    <div class="position-absolute border rounded-circle d-flex align-items-center justify-content-center" style="top: 50%;
    right: 1rem; transform: translateY(-50%); height: 1rem; width: 1rem;">
      <span class="check material-icons ml-1 mb-1" style="font-size: 1rem;">
        check
      </span>
    </div>
  </div>
  <div class="px-3 card-body">
    <img src="../../../assets/images/motherboard.jpg" alt="" height="120px" width="auto" class="mx-auto d-block">
    <p class="m-0 small b-600">AM4 Gaming Motherboard</p>
    <p class="m-0 small">MSI</p>
    <div class="d-flex align-items-center flex-wrap">
      <p class="m-0 b-600">Included in offer</p>
      <button class="ml-auto p-0 btn d-flex align-items-center">
        <span class="material-icons">expand_more</span></button>
    </div>
  </div>
  <div class="card-body bg-light">
    asdf
  </div>
</div>