.product-option {
  transition: 0.4s all;
  .card-header {
    background: transparent;
    color: black;
    transition: 0.4s all;
    .check {
      display: none;
    }
  }

  &:hover {
    border-color: var(--dark);

    .card-header {
      background: var(--dark);
      color: white;
      cursor: pointer;
    }
  }

  &.selected {
    border-color: black;
    .card-header {
      background: black;
      color: white;
      .check {
        display: block;
      }
    }
  }
}