<div class="cs pmw">
  <div class="bg-gradient-grey">
    <div class="container d-flex bg-">
      <div class="mr-auto py-5">
        <a routerLink="/" class="p-3 d-inline-block text-white no-decoration"><b>Computer Store</b></a>
      </div>
      <div>
        <button class="rounded-0 btn btn-black">Shipping</button>
        <button class="rounded-0 btn btn-black">Help</button>
      </div>
    </div>
  </div>
</div>
<div class="cs pmw bg-dark">
  <div class="bg-dark">
    <div class="container d-flex text-nowrap">
      <a routerLink="/" class="p-3 d-inline-block text-white no-decoration">Hardware</a>
      <a routerLink="/" class="p-3 d-inline-block text-white no-decoration">Software</a>
      <a routerLink="/" class="p-3 d-inline-block text-white no-decoration">Gaming</a>
      <a routerLink="/" class="p-3 d-inline-block text-white no-decoration">Monitors</a>
      <a routerLink="/" class="mr-auto p-3 d-inline-block text-white no-decoration">Deals</a>
      
      <a routerLink="/" class="p-3 d-inline-block text-white no-decoration">Sign in</a>
      <button class="btn rounded-0 btn-primary">Cart<span class="ml-2 badge badge-pill badge-light">3</span></button>
    </div>
  </div>
</div>