<section class="topnav">
  <div class="pmw bg-gradient-dark">
    <div class="container d-flex position-relative">
      <div class="mr-auto py-3 py-sm-4 py-md-5">
        <a routerLink="/" class="px-3 py-2 navlink text-white text-nowrap"><b style="font-size: 2rem;">Computer
            Store</b></a>
      </div>
      <div class="p-0 px-md-3 d-flex align-items-start position-absolute" style="top: 0px; right: 0rem;">
        <button class="rounded-0 btn btn-dark-d1"><span class="small">Shipping</span></button>
        <button class="rounded-0 btn btn-dark-d1"><span class="small">Help</span></button>
      </div>
    </div>
  </div>
  <div class="pmw bg-dark">
    <div class="p-0 px-md-3 container text-nowrap d-flex">
      <ul class="m-0 mr-3 list-unstyled d-none d-md-flex">
        <li><a routerLink="/" class="p-3 py-2 navlink text-light">Hardware</a></li>
        <li><a routerLink="/" class="p-3 py-2 navlink text-light">Software</a></li>
        <li><a routerLink="/" class="p-3 py-2 navlink text-light">Gaming</a></li>
        <li><a routerLink="/" class="p-3 py-2 navlink text-light">Monitors</a></li>
        <li><a routerLink="/" class="p-3 py-2 navlink text-primary">Deals</a></li>
      </ul>


      <a routerLink="/" class="ml-auto p-3 navlink">Sign in</a>

      <div class="dropdown">
        <button class="h-100 p-3 btn btn-primary d-inline-flex align-items-center justify-content-center rounded-0"
          type="button" id="dropdownMenuButton" data-toggle="dropdown"><span
            class="material-icons-outlined">shopping_cart</span>Cart<span
            class="ml-2 mt-1 badge badge-pill badge-light">3</span></button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>
</section>