* {
  font-size: 0.875rem;

  @include break-md-min {
    font-size: 1rem;
  }
}

@mixin font-weight {
  @for $i from 1 through 9 {
    .b-#{$i}00 {
      font-weight: $i * 100;
    }
  }
}
@include font-weight;

.font-default {
  font-family: "Roboto", sans-serif;
}
.font-heading {
  font-family: "Fira Sans", sans-serif;
}

.no-decoration {
  text-decoration: none;
}
