$custom-primary: rgb(255, 0, 0);
$custom-secondary: rgb(162, 185, 27);
$custom-success: rgb(173, 224, 125);
$custom-info: rgb(97, 21, 196);
$custom-warning: rgb(163, 75, 75);
$custom-danger: rgb(255, 0, 0);
$custom-light: rgb(197, 197, 197);
$custom-dark: rgb(48, 48, 48);
$custom-dark-l1: lighten($custom-dark, 10%);

$break-xs: 0;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

// $custom-headings-font-family: "Fira Sans", sans-serif;
$custom-headings-font-family: "Roboto", sans-serif;
$custom-font-family-sans-serif: "Roboto", sans-serif;

$custom-btn-focus-box-shadow: none !important;
$custom-btn-active-box-shadow: none;
